/* Existing styles remain unchanged */
body {
    font-family: Arial, sans-serif;
    margin-left: 310px;
    margin-top: 100px;
  }
  

  p {
    font-size: 1.5rem;
  }
  
  header h1 {
    font-size: 6.2rem;
  }
  
  header p {
    font-size: 2.4rem;
  }
  
  h1 {
    font-size: 3.6rem;
  }
  
  h2 {
    font-size: 3.1rem;
  }
  
  nav {
    width: 285px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #efe4e4;
    height: 100vh;
    padding: 60px 0;
  }

nav a {
    font-weight: bold;
}
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin: 40px;
  }
  
  nav ul li a {
    font-size: 2.2rem;
    padding: 10px 0 10px 15px;
    text-decoration: none;
    transition: color 0.9s ease, text-decoration 1.4s ease;
    color: black;
  }
  
  nav ul li a:hover {
    color: rgb(158, 106, 211);
    text-decoration: underline;
  }
  
  